#document-raw-text-wrapper, #document-analysis-wrapper {
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.spinner-border {
    position: absolute;
    right: 6em;
    z-index: 1;
}

.text-success {
    font-weight: bold;
}