* {
  box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 490px;
}

a {
  color: #00B7FF;
}

.nav-item {
  cursor: pointer;
}

.hidden {
    display: none;
}

.alert {
  position: absolute;
  bottom: 0;
  right: 60px;
}

.alert .fas {
  padding: 16px;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* spacing for alerts */
.close {
    text-align: center;
}

.bootstrap-growl {
    right: 60px;
    text-align: center;
}

