* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 490px;
}

a {
  color: #00B7FF;
}

.nav-item {
  cursor: pointer;
}


